@page
@model HoTanThanhSignalR.Pages.CustomerPages.OrderHistoryModel
@{
    ViewData["Title"] = "Order History";
    Layout = "_CustomerLayout";
}

<h1>Order List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Date
            </th>
            <th>
                Shipped Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Total)
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td><a asp-page="./OrderHistoryDetails" asp-route-id="@item.OrderId">Details</a></td>
            </tr>
        }
    </tbody>
</table>