@page
@model HoTanThanhSignalR.Pages.CustomerPages.ProfileModel
@{
    Layout = "_CustomerLayout";
}
<h1>Profile</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Birthday)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditProfile" asp-route-id="@Model.Customer.CustomerId">Edit</a> |
    <a asp-page="./FlowerBouquets">Back to Products Page</a>
</div>
